<p>Tisztelt Bejelento!</p>

<p>Tajekoztatjuk, hogy bejelentese lezarasra kerult.</p>

<p>
  <strong>Iktatoszam:</strong> #<%= @issue_id %><br>
  <strong>Targy:</strong> <%= @subject %><br>
  <strong>Állapot:</strong> <%= @status %>
</p>

<p>Koszonjuk egyuttmukodeset.</p>

<p>
  Udvozlettel,<br>
  Gyomroi Varosuzemeltetes Hibabejelento Rendszer<br>
</p>